img {
  max-width: 100%;
}
pre {
  color: white;
  white-space: pre-wrap;
  font-size: large;
  font-weight: bold;
}
.btn {
    color: white;
    display: inline-flex;
    align-items: center;
}
.btn:hover {
    color: white;
    background-color: grey;
}
-webkit-media-controls-panel {
  max-width: 50px;
}
#player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
#messager {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10vh;
    right: 0;
    max-width: 80vw;
    max-height: 80vh;
}
.alert.show {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.alert .closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  color: white;
  background-color: black;
}
#titleInput {
    flex-grow: 1;
}
@media (max-width: 576px) {
  #titleInput, #titleSpan {
    order: 1;
    width: 100%;
  }
}
nav, nav > * {
  align-items: baseline !important;
}
nav .buttons {
    display: flex;
}
nav form {
  display: inline-flex;
}
nav div.alert {
    margin-bottom: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.navbar-nav {
  display: block;
  columns: 10em 5;
  padding: 2em;
}
.notes-nav {
    display: flex;
    flex-wrap: wrap;
}
.notes-nav .nav-item {
  padding: 0 1em;
}

#main {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.docList {
    display: flex;
    align-items: center;
}
.docs-nav {
  justify-content: flex-start;
}
.docs-nav .nav-item {
    display: flex;
    align-items: center;
}
.docs-nav .nav-item.audio, .docs-nav.editable .nav-item {
  margin: 5px;
  border: solid grey;
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 5px;
  padding-bottom: 5px;
}
#noteReader .contentHolder {
  display: flex;
  flex-wrap: wrap;
}
#noteReader .contentHolder section {
  font-size: large;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}
#noteEditor {
    display: flex;
    flex-direction: column;
}
#uploadForm {
    display: inline-flex;
}
#modifyForm {
    display: flex;
    flex-grow: 1;
}
#modifyForm textarea {
  width: 100%;
}
@media (max-width: 576px) {
  #modifyForm textarea {
    height: 95vh;
  }

