img {
  max-width: 100%;
}
pre {
  color: white;
  white-space: pre-wrap;
  font-size: large;
  font-weight: bold;
}
-webkit-media-controls-panel {
  max-width: 50px;
}
/*
.document.audio {
  background-image: url("../icons/audio.svg");
  background-size: 2em;
  background-repeat: no-repeat;
  padding: 0.3em;
}
.document.video {
  background: url("../icons/video.svg");
}
*/
#player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

body {
  color: white;
  background-color: black;
  box-sizing: border-box;
  margin: 0;
}
#titleSpan {
    align-self: center;
}
nav {
  flex-wrap: nowrap;
}
nav > span {
  display: flex;
}
.navbar-nav {
  display: block;
  columns: 10em 5;
  padding: 2em;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.notes-nav {
  justify-content: start;
}
.notes-nav .nav-item {
  padding: 0 1em;
}

#main {
  padding: 1em;
}
form.modifyNote textarea {
  width: 100%;
  height: 60vh;
}
form.dropzone {
  width: 100%;
  height: 16vh;
}
div.docs-nav {
  justify-content: flex-start;
}
#noteReader .contentHolder {
  display: flex;
  flex-wrap: wrap;
  /* Acts as a fallback : */
  justify-content: space-around;
  justify-content: space-evenly;
}
#noteReader .contentHolder section {
  font-size: large;
}

